<article>
  <p>{%= message1 %}</p>
  <p>{%= message2 %}</p>
  <p>{%= mutual.cancel %}</p>
  <p>{%= message3 %}</p>
  <p>{%= message4 %}</p>
  <p>{%= mutual.restart %}</p>
  <p>{%= message5 %}</p>
  <p>{%= message6 %}</p>
</article>
